In [1]:
#imports
#short term imports
import sqlite3

#long term imports
import mysql.connector as connector
import config

# Mysql

In [8]:
cnx = connector.connect(
    host = config.creds['endpoint'],
    user = 'admin',#config.creds['username'],
    passwd = config.creds['password']
)

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'appmarketing.cluster-cpabc6otoy2h.us-east-2.rds.amazonaws.com' (60)

# Methods

In [1]:
#creates database with connection and name of database
def createDatabase(cnx, dbName):
    cursor = cnx.cursor()
    try:
        cursor.execute("CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(dbName))
        cnx.commit()
    except mysql.connector.Error as e:
        print('Failed creating database: {}'.format(e))
        exit(1)

#changes the database to the given name
def changeDatabase(cnx, dbName):
    cursor = cnx.cursor()
    try:
        cursor.execute("USE {}".format(dbName))
    except mysql.connector.Error as e:
        print('Database {} deos not exist.'.format(dbName))
        if e.errno == errorcode.ER_BAD_DB_ERROR:
            createDatabase(cnx, dbName)
            print('Database {} created successfully'.format(dbName))
            cnx.database = dbName
        else:
            print(e)
            exit(1)


#creates table in current database with connection
def createTable(conn, table):
    cursor = conn.cursor()
    try:
        cursor.execute(table)
        conn.commit()
    except:
        print(table)
        print('table already exists')
                        

#drops table name
def dropTable(c, table):
    sqlstr = """DROP TABLE {}""".format(table)
    try:
        c.execute(sqlstr)
        print('success')
    except:
        print('could not drop {}'.format(table))

#adds row to table with table name and list of values
#values have to be in order and NOT NULL for specific values
def addRow(c, tableName, valuesList):
    if (valuesList[1] == None or valuesList[2] == None or valuesList[5] == None or valuesList[9] == None):
        print('Not Null value found in row {}'.format(valuesList[0]))
        return None
        
    deliminator = "', '"
    results = deliminator.join([str(x) for x in valuesList])
    #results = "'" + resultas + "'"
    sqlstr = """INSERT INTO '{}' VALUES ('{}');""".format(tableName, results)
    try:
        c.execute(sqlstr)
        print('success')
    except sqlite3.Error as e:
        print(tableName)
        print(e)
        print('couldnt add row')

#deletes any rows where condition is met through table
#condition is a string of sequel
def deleteRow(c, tableName, condition):
    sqlstr = """DELETE FROM {} WHERE {}""".format(tableName, condition)
    try:
        c.execute(sqlstr)
        print('success')
    except:
        print('could not delete')

#returns all rows from given table
def getRows(conn, tableName):
    cursor = conn.cursor()
    sqlstr = 'SELECT * FROM {}'.format(tableName)
    try:
        cursor.execute(sqlstr)
        return cursor.fetchall()
    except:
        print('couldnt retrieve data from {}'.format(tableName))
        return None

#add getRows with condition statement

# Tables

In [55]:
apple_table = """
Create TABLE apple
(
name varchar(255),
id int(255) NOT NULL UNIQUE,
size int(255) NOT NULL,
currency varchar(255),
price DOUBLE(255, 2),
totalRatingCount int(255) NOT NULL,
userRating DOUBLE(255, 2),
contentRating varchar(255),
primeGenre varchar(255),
languages int(255) NOT NULL,
appDescription varchar(255)

);
"""
#name, id, size, currency, price, totalRatingCount, userRating, contentRating, primeGenre, languages, appDescription
google_table = """
Create TABLE google
(
id int(255) NOT NULL UNIQUE,
name varchar(255),
primeGenre varchar(255),
rating DOUBLE(255, 1),
reviews int(255) NOT NULL,
size int(255) NOT NULL,
installs int(555) NOT NULL,
type varchar(255),
price DOUBLE(255, 2),
contentRating varchar(255),
subgenres varchar(255),
lastUpdated varchar(255),
currentVer varchar(255),
androidVer varchar(255)

);
"""

appleTestList = ['app3', 3, 170000, 'USD', 2.32, 147,
 3.7, 'T', 'Games', 1, 'this is a test']

# sqlite

In [30]:
conn = sqlite3.connect('apps.db')
c = conn.cursor()

In [11]:
c.execute("""
INSERT INTO apple VALUES ('app1', '3', '150000', 'USD', '4.99', '150', '4.2', 'E', 'Games', '1', 'this is a test')
;""")

In [95]:
conn.commit()

In [68]:
result = c.execute("""
SELECT *
FROM apple
;""")

In [69]:
data = result.fetchall()

In [70]:
data

[('app1', 1, 150000, 'USD', 4.99, 150, 4.2, 'E', 'Games', 1, 'this is a test'),
 ('app2', 2, 160000, 'USD', 5.01, 151, 4.3, 'M', 'Games', 1, 'this is a test')]

In [6]:
import pandas as pd
df_g = pd.read_csv('googleDF.csv')

In [8]:
f = open(file='googleDF.csv', mode='r')

In [9]:
index = f.readline()

In [14]:
column_names = index.split(',')

In [16]:
column_names = [x for x in column_names[1:]]

In [17]:
#id will be in next lists as 0
column_names#1,2,3,4,5,6,7,8,9,10,11,12,13,

['App',
 'Category',
 'Rating',
 'Reviews',
 'Size',
 'Installs',
 'Type',
 'Price',
 'Content Rating',
 'Genres',
 'Last Updated',
 'Current Ver',
 'Android Ver',
 'ContentRatingValue\n']

In [24]:
len(column_names[:-1]) #+ 1 for id

13

In [20]:
result2 = f.readline()

In [21]:
result2

'0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19000000.0,10000,Free,0.0,Everyone,Art & Design,2018-01-07,1.0.0,4.0.3 and up,0\n'

In [25]:
len((result2.split(','))[:-1])

14

In [28]:
cur = ""
len(cur.split(',')[:-1])

0

In [ ]:
deleteRow(c, 'google', )

In [59]:
last_line = False 
while last_line == False:
    cur = f.readline()
    values = (cur.split(','))[:-1]
    if (len(values) < 14):
        last_line == True
        break;
    else:
        addRow(c, 'google', values)

success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 19 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
near "s": syntax error
couldnt add row
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "em": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
google
near "Donuts": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success

success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 18 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 22 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
success
success
success
google
near "S": syntax error
couldnt add row
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
google
near "Frontline": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "re": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
near "SOCIAL": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row

success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
google
near "s": syntax error
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
google
near "s": syntax error
couldnt add row
success
google
near "s": syntax error
couldnt add row
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
near "s": syntax error
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
success
success
success
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 19 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "t": syntax error
couldnt add row
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 18 values were supplied
couldnt add row
success
google
table google has 14 columns but 18 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
google
near "s": syntax error
couldnt add row
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
google
near "s": syntax error
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 18 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
google

success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "east": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
google
near "m": syntax error
couldnt add row
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
near "s": syntax error
couldnt add row
google
table google has 14 columns but 20 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
near "Anglais": syntax error
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
google
near "m": syntax error
couldnt add row
google
near "t": syntax error
couldnt add row
success
success
success
google
near "m": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
google
near "n": syntax error
couldnt add row
success
success
success
success
success
google
near "n": syntax error
couldnt add row
success
success
google
near "n": syntax error
couldnt add row
google
near "n": syntax error
couldnt add row
success
success
google
near "n": syntax error
couldnt add row
google
near "Gemstones": syntax error
couldnt add row
google
near "n": syntax error
couldnt add row
success
success
google
near "n": syntax error
couldnt add row
success
google
near "n": syntax error
couldnt add row
google
near "Slides": syntax error
couldnt add row
google
near "n": syntax error
couldnt add row
google
near "n": syntax error
couldnt add row
success
google
near "n": syntax error
couldnt add row
success
google
near "n": syntax error
couldnt add row
google
near "n": syntax error
couldnt add row
google
near "n": syntax error
couldnt add row
success
success
google
near "n": syntax error
couldnt add row
google
near "Cash": syntax error
couldnt add row
success
google
near "n": syntax error
couldnt add row
google
near "n": syntax error
couldnt add row
success
google
near "n": syntax error
couldnt add row
google
near "N": syntax error
couldnt add row
google
near "n": syntax error
couldnt add row
success
google
near "n": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
near "Route": syntax error
couldnt add row
success
success
success
success
success
google
near "Clock": syntax error
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
google
near "t": syntax error
couldnt add row
success
success
success
success
success
google
near "t": syntax error
couldnt add row
google
near "t": syntax error
couldnt add row
success
success
google
near "t": syntax error
couldnt add row
google
near "t": syntax error
couldnt add row
google
near "t": syntax error
couldnt add row
google
near "t": syntax error
couldnt add row
google
near "t": syntax error
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 18 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "Ab": syntax error
couldnt add row
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "ah": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "ah": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "Quran": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
google
near "re": syntax error
couldnt add row
success
success
success
google
near "Quran": syntax error
couldnt add row
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 20 values were supplied
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "qaquj": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success

success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
google
near "s": syntax error
couldnt add row
google
near "s": syntax error
couldnt add row
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "Of": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 20 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
near "Av": syntax error
couldnt add row
success
success
success
success
success
google
near "a": syntax error
couldnt add row
google
near "s": syntax error
couldnt add row
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "H": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
google
near "s": syntax error
couldnt add row
success
google
near "s": syntax error
couldnt add row
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "n": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
near "Rep": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "17": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success

success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "est": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
near "000": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
google
near "Ivoire": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
google
near "S": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
google
table google has 14 columns but 19 values were supplied
couldnt add row
success
google
table google has 14 columns but 18 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
google
near "Network": syntax error
couldnt add row
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "Indirimbo": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 19 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 18 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "em": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success

success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 18 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 17 values were supplied
couldnt add row
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
google
near "Donuts": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
google
near "s": syntax error
couldnt add row
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
google
table google has 14 columns but 19 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
google
near "Em": syntax error
couldnt add row
success
success
success
google
near "Em": syntax error
couldnt add row
google
near "Em": syntax error
couldnt add row
success
success
google
near "em": syntax error
couldnt add row
success
google
near "em": syntax error
couldnt add row
success
google
near "em": syntax error
couldnt add row
google
near "em": syntax error
couldnt add row
success
google
near "em": syntax error
couldnt add row
google
near "em": syntax error
couldnt add row
google
table google has 14 columns but 16 values were supplied
couldnt add row
google
near "em": syntax error
couldnt add row
success
success
success
success
success
success
google
near "Em": syntax error
couldnt add row
success
success
success
google
near "em": syntax error
couldnt add row
success
google
near "Em": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "er": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
google
near "er": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "emploi": syntax error
couldnt add row
success
success
success
success
success
success
google
table google has 14 columns but 17 values were supplied
couldnt add row
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "m": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "em": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success

success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "Mobile": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
google
table google has 14 columns but 16 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
google
near "s": syntax error
couldnt add row
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
near "Cash": syntax error
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
google
table google has 14 columns but 15 values were supplied
couldnt add row
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success

In [109]:
reslist = result2.split(',')

In [112]:
'"PAC-MAN Premium"'.strip('"')

'PAC-MAN Premium'

In [119]:
reslist[-1] = reslist[-1].strip('\n')

In [120]:
stuff = [x.strip('"') for x in reslist]

In [ ]:
#'"","id","track_name","size_bytes","currency","price","rating_count_tot","rating_count_ver",
#"user_rating","user_rating_ver","ver","cont_rating","prime_genre","sup_devices.num",
#"ipadSc_urls.num","lang.num","vpp_lic"\n'

In [ ]:

#name, id, size, currency, price, totalRatingCount, userRating, 
#contentRating, primeGenre, languages, appDescription

In [125]:
f.close()

In [126]:
c.close()

In [128]:
conn.close()

In [ ]:
stuff[2], stuff[0],

In [60]:
import pandas as pd
c.execute("""SELECT * FROM google;""")
data = c.fetchall()
a = pd.DataFrame(data)
a.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,Coloring book moana,ART_AND_DESIGN,3.900,967,1.400000e+07,500000,Free,0.0,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up
1,3,Sketch - Draw & Paint,ART_AND_DESIGN,4.500,215644,2.500000e+07,50000,Free,0.0,Teen,Art & Design,2018-06-08,Varies with device,4.2 and up
2,4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.300,967,2.800000e+06,100000,Free,0.0,Everyone,Art & Design;Creativity,2018-06-20,1.1,4.4 and up
3,5,Paper flowers instructions,ART_AND_DESIGN,4.400,167,5.600000e+06,50000,Free,0.0,Everyone,Art & Design,2017-03-26,1.0,2.3 and up
4,6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.800,178,1.900000e+07,50000,Free,0.0,Everyone,Art & Design,2018-04-26,1.1,4.0.3 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10057,10836,Sya9a Maroc - FR,FAMILY,4.500,38,5.300000e+07,5000,Free,0.0,Everyone,Education,2017-07-25,1.48,4.1 and up
10058,10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.000,4,3.600000e+06,100,Free,0.0,Everyone,Education,2018-07-06,1.0,4.1 and up
10059,10838,Parkinson Exercices FR,MEDICAL,0.001,3,9.500000e+06,1000,Free,0.0,Everyone,Medical,2017-01-20,1.0,2.2 and up
10060,10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.500,114,2.151418e+07,1000,Free,0.0,Mature 17+,Books & Reference,2015-01-19,Varies with device,Varies with device
10061,10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.500,398307,1.900000e+07,10000,Free,0.0,Everyone,Lifestyle,2018-07-25,Varies with device,Varies with device

In [40]:
createTable(conn, google_table)

CREATE TABLE google
(
id int(255) NOT NULL UNIQUE,
name varchar(255),
primeGenre varchar(255),
rating DOUBLE(255, 1),
reviews int(255) NOT NULL,
size int(255) NOT NULL,
installs int(555) NOT NULL,
type varchar(255),
price DOUBLE(255, 2),
contentRating varchar(255),
subgenres varchar(255),
lastUpdated varchar(255),
currentVer varchar(255),
androidVer varchar(255),

);

table already exists

In [41]:
stuffss = (result2.split(','))[:-1]

In [44]:
addRow(c, 'google' , stuffss)

google
no such table: google
couldnt add row

In [48]:
createTable(conn, google_table)

Create TABLE google
(
id int(255) NOT NULL UNIQUE,
name varchar(255),
primeGenre varchar(255),
rating DOUBLE(255, 1),
reviews int(255) NOT NULL,
size int(255) NOT NULL,
installs int(555) NOT NULL,
type varchar(255),
price DOUBLE(255, 2),
contentRating varchar(255),
subgenres varchar(255),
lastUpdated varchar(255),
currentVer varchar(255),
androidVer varchar(255),

);

table already exists

In [58]:
createTable(conn, google_table)

In [ ]:
#get ids, check for missing values