In [2]:
#imports
#short term imports
import sqlite3

#long term imports
import mysql.connector as connector
import config

In [3]:
config.creds

{'endpoint': 'appmarketing.cluster-cpabc6otoy2h.us-east-2.rds.amazonaws.com',
 'username': 'tohearn',
 'password': '33Tw4v3o9',
 'port': '3306'}

# Mysql

In [8]:
cnx = connector.connect(
    host = config.creds['endpoint'],
    user = 'admin',#config.creds['username'],
    passwd = config.creds['password']
)

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'appmarketing.cluster-cpabc6otoy2h.us-east-2.rds.amazonaws.com' (60)

In [94]:
def createDatabase(cnx, dbName):
    cursor = cnx.cursor()
    try:
        cursor.execute("CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(dbName))
        cnx.commit()
    except mysql.connector.Error as e:
        print('Failed creating database: {}'.format(e))
        exit(1)
    
def changeDatabase(cnx, dbName):
    cursor = cnx.cursor()
    try:
        cursor.execute("USE {}".format(dbName))
    except mysql.connector.Error as e:
        print('Database {} deos not exist.'.format(dbName))
        if e.errno == errorcode.ER_BAD_DB_ERROR:
            createDatabase(cnx, dbName)
            print('Database {} created successfully'.format(dbName))
            cnx.database = dbName
        else:
            print(e)
            exit(1)

            
def createTable(conn, table):
    cursor = conn.cursor()
    try:
        cursor.execute(table)
        conn.commit()
    except:
        print(table)
        print('table already exists')
                        

def AddRow(c, tableName, valuesList):
    deliminator = "', '"
    results = deliminator.join([str(x) for x in valuesList])
    #results = "'" + resultas + "'"
    sqlstr = """INSERT INTO '{}' VALUES ('{}');""".format(tableName, results)
    try:
        c.execute(sqlstr)
        print('success')
    except sqlite3.Error as e:
        print(tableName)
        print(e)
        print('couldnt add row')

def getRows(conn, tableName):
    cursor = conn.cursor()
    sqlstr = 'SELECT * FROM {}'.format(tableName)
    try:
        cursor.execute(sqlstr)
        return cursor.fetchall()
    except:
        print('couldnt retrieve data from {}'.format(tableName))
        return None

In [73]:
deliminator = "', '"
resultas = deliminator.join([str(x) for x in appleTestList])
resultas = "'" + resultas + "'"
resultas

"'app3', '3', '170000', 'USD', '2.32', '147', '3.7', 'T', 'Games', '1', 'this is a test'"

In [80]:
sqlstr = """INSERT INTO {} VALUES ({});""".format('apple', resultas)
sqlstr

"INSERT INTO apple VALUES ('app3', '3', '170000', 'USD', '2.32', '147', '3.7', 'T', 'Games', '1', 'this is a test');"

In [81]:
c.execute(sqlstr)

In [83]:
testAddRow(c, 'apple', appleTestList)

apple
no such column: 'app4', 4, 170000, 'USD', 2.32, 147, 3.7, 'T', 'Games', 1, 'this is a test'
couldnt add row

In [41]:
cheese = """INSERT INTO {} VALUES ({})
;""".format('apple', sinl)
cheese

'INSERT INTO apple VALUES (app3, 1, 170000, USD, 2.32, 147, 3.7, T, Games, 1, this is a test)\n;'

In [38]:
values = ', '
strlist = [str(x) for x in appleTestList]
sinl = values.join(strlist)

In [42]:
c.execute(cheese)

OperationalError: near "test": syntax error

In [88]:
appleTestList = ['app4', 4, 170000, 'USD', 2.32, 147,
 3.7, 'T', 'Games', 1, 'this is a test']

In [91]:
deliminator = "', '"
results = deliminator.join([str(x) for x in appleTestList])
#results = "'" + resultas + "'"
sqlstr = """INSERT INTO '{}' VALUES ('{}');""".format('apple', results)
sqlstr

"INSERT INTO 'apple' VALUES ('app4', '4', '170000', 'USD', '2.32', '147', '3.7', 'T', 'Games', '1', 'this is a test');"

# Tables

In [71]:
apple_table = """
Create TABLE apple
(
name varchar(255),
id int(255) NOT NULL UNIQUE,
size int(255) NOT NULL,
currency varchar(255),
price DOUBLE(255, 2),
totalRatingCount int(255) NOT NULL,
userRating DOUBLE(255, 2),
contentRating varchar(255),
primeGenre varchar(255),
languages int(255) NOT NULL,
appDescription varchar(255)

);
"""

google_table = """
CREATE TABLE google
(
id int(255) NOT NULL UNIQUE,
name varchar(255),
primeGenre varchar(255),
rating DOUBLE(255, 1),
reviews int(255) NOT NULL,
size int(255) NOT NULL,
installs int(555) NOT NULL,
type varchar(255),
price DOUBLE(255, 2),
contentRating varchar(255),
subgenres varchar(255),
lastUpdated varchar(255),
currentVer varchar(255),
androidVer varchar(255),

);
"""

appleTestList = ['app3', 3, 170000, 'USD', 2.32, 147,
 3.7, 'T', 'Games', 1, 'this is a test']

# sqlite

In [3]:
conn = sqlite3.connect('apps.db')
c = conn.cursor()

In [46]:
len(appleTestList)

11

In [50]:
addRow(conn, 'apple', appleTestList)

apple
couldnt add row

In [11]:
c.execute("""
INSERT INTO apple VALUES ('app1', '3', '150000', 'USD', '4.99', '150', '4.2', 'E', 'Games', '1', 'this is a test')
;""")

In [12]:
conn.commit()

In [68]:
result = c.execute("""
SELECT *
FROM apple
;""")

In [69]:
data = result.fetchall()

In [70]:
data

[('app1', 1, 150000, 'USD', 4.99, 150, 4.2, 'E', 'Games', 1, 'this is a test'),
 ('app2', 2, 160000, 'USD', 5.01, 151, 4.3, 'M', 'Games', 1, 'this is a test')]

In [17]:
c.execute("""
INSERT INTO apple VALUES ('app2', '2', '160000', 'USD', '5.01', '151', '4.3', 'M', 'Games', '1', 'this is a test')
;""")